@using Demo.Models.DummyModels
@using NonFactors.Mvc.Grid
@using System.Web.Mvc
@model IEnumerable<PatientAppoinmentModel>

<title>Book Appointment</title>
<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
<style>
    .tick-mark {
        cursor: pointer;
    }
</style>

 @if (User.IsInRole("User") || User.IsInRole("Doctor"))
        {
            <partial name="_Header" />
        }
    @if (TempData["LoginSuccess"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.success('@TempData["LoginSuccess"]');
        </script>
    }
    @if (TempData["success"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.success('@TempData["success"]');
        </script>
    }
    <div class="container mt-5">
        <div>
            @if (Model != null && Model.Any())
            {
                var userName = Model.FirstOrDefault()?.UserName;
                <h4>Total Appoinments of Mr.@userName</h4>
            }
        </div>
    </div>
    <div>
        <a asp-area="Management" asp-action="AddEditAppointment" asp-controller="Management" class="btn btn-success">Create Appointment</a>
    </div>
     @*28 June - User Appoinments *@
    <div class="mt-5 mb-5" id="stt">
        <h3>My Appoinments</h3>
        @(Html
        .Grid(Model)
        .Build(columns =>
        {

        columns.Add(model => model.DoctorName).Titled("DoctorName");
        columns.Add(model => model.HospitalName).Titled("Hospital");
        columns.Add(model => model.AppointmentDate).Titled("Date");
        columns.Add(model => model.AppointmentTime).Titled("Time");
        columns.Add(model => model.AppointmentStatus).Titled("Status");

        columns.Add().Titled("Edit").RenderedAs((model, row) =>
        {

        return Html.ActionLink("Edit", "AddEditAppointment", new { area = "Management", controller="Management", appId = model.AppointmentID }, new { @class = "btn btn-primary" });
        });
        columns.Add().Titled("Delete").RenderedAs((model, row) =>
        {
        return Html.ActionLink("Delete", "DeleteAppoinment", new { area = "User", id = model.AppointmentID,userId = @ViewBag.userId }, new { @class = "btn btn-danger" });
        });
        }).Using(GridFilterMode.Header)
        .Empty("No data found")
        .Filterable()
        .Pageable(pager =>
        {
        pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 2, "2" }, { 4, "4" },{5, "5" }};
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 3;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 5;
        })
        .Sortable()
        )
    </div>


</div>

<script src="~/js/mvc-grid/mvc-grid.js"></script>

<script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        document.getElementById("CheckAll").addEventListener("change", function () {
        document.querySelectorAll("[id^='Check_'").forEach(checkbox => checkbox.checked = this.checked);
    });
</script>

