@model Demo.Models.AppoinmentModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
<h1>Create Appointment</h1>

<form asp-action="Create" id="Createform">
    <div class="form-group">
        <label asp-for="PatientName" class="control-label">Patient Name</label>
            <input asp-for="PatientName" id="patientName" class="form-control" />
        <span asp-validation-for="PatientName" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="DoctorName" class="control-label">Doctor Name</label>
        <input asp-for="DoctorName" class="form-control" />
        <span asp-validation-for="DoctorName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AppointmentDate" class="control-label" >AppointmentDate</label>
        <input asp-for="AppointmentDate" type="date" class="form-control" id="appointmentDate" />
    </div>
    
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input asp-for="Description" type="text" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="status" class="control-label">Status</label>
        <input asp-for="status" type="text" class="form-control" />
    </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input asp-for="Email" type="text" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="phoneno" class="control-label">PhoneNo</label>
            <input asp-for="phoneno" type="number" class="form-control" />
            <span asp-validation-for="phoneno" class="text-danger"></span>

        </div>
    <!-- Add other form fields here -->
        <button type="submit" id="submitBtn" class="btn btn-primary">Create</button>
</form>

@section Scripts {  
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" mailto:src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="~/js/Appointment.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>



</body>
   
</html>


